.portfolio_navbar{
    width: 100%;
    background: transparent !important;
    position: relative;
    top: 25px;
    .navbar-brand{
        img{
            width: 100%;
            max-width: 210px;
        }
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        a{
            margin: 0 30px;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            &.resume_button {
                border: 1px solid #fff;
                padding: 15px 45px;
                border-radius: 75px;
                background-color: transparent;
                &:hover{
                    background-color: #0b5ed7;
                    border: 1px solid #0b5ed7;
                }
            }
        }
    }
}