.portfolio_navbar{
    width: 100%;
    background: transparent !important;
    position: relative;
    top: 25px;
    .navbar-brand{
        img{
            width: 100%;
            max-width: 210px;
        }
    }
    .navbar-nav{
        a{
            margin: 0 30px;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }
    }
}