.recent_sec{
    width: 100%;
    .recent_projects{
        width: 100%;
        h6{
            color: color #1c1d20;
            font-size: 14px;
        }
        .recent_fml{
            border-top: 1px solid #b9b9b9;
            border-bottom: 1px solid #b9b9b9;
            display: block;
            padding: 0 50px;
            text-decoration: none;
            position: relative;
            transition: all 0.4s ease-in-out;
            &:hover{
                transition: all 0.4s ease-in-out;
                .fml_project {
                    display: block;
                    position: absolute;
                    top: -80px;
                    max-width: 379px;
                    min-height: 296px;
                    left: 43%;
                    transition: all 0.4s ease-in-out;
                    img{
                        border-radius: 12px;
                        -webkit-box-shadow: 10px 10px 47.87px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 10px 10px 47.87px 0px rgba(0, 0, 0, 0.25);
                        box-shadow: 10px 10px 47.87px 0px rgba(0, 0, 0, 0.25);
                    }    
                    
                }
                .project {
                    h4 {
                        color: rgba(#1c1d20, 0.25);
                    }

                    p {
                        color: rgba(#1c1d20, 0.25);
                    }
                }
            }
            .project{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 0;
                h4{
                    font-size: 84px;
                    color: #1c1d20;
                }
                p{
                    font-size: 18px;
                    color: #1c1d20;
                }
            }
            .fml_project{
                display: none;
            }
        }
    }
    .show_projects{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0;
        a{
            min-width: 180px;
            min-height: 80px;
            border: 1px solid #1c1d20;
            border-radius: 75px;
            padding: 20px;
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size:22px;  
        }
    }
}    